body{
    background: url(img/背景1.gif) center center no-repeat;
	-moz-background-size: cover;
	background-size: cover;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    height: 100%;
}
.draggable{
    z-index: 1;
}
h3{ margin:0;}
div.animation{
    position:relative;
    height:80%;
}
img{
    position: absolute;
}
div#man img{
    max-width: 30%;
    max-height: 100%;
    left: 30%;
}

#nine{
    max-width:10%;
    max-height: 50%;
    left: 0%;
}
#sword{
    max-width:10%;
    max-height: 50%;
    top:50%;
    left: 0%;
}
#fire{
    max-width:10%;
    max-height: 50%;
    top:0%;
    left: 10%;
}
#tower{
    max-width:15%;
    max-height: 50%;
    top: 50%;
    left: 10%;
}
#circle{
    max-width:20%;
    max-height: 35%;
    top: 60%;
    left: 60%;
}
#ling{
    max-width:20%;
    max-height: 35%;
    top: 0;
    left: 75%;
}
#nail{
    max-width:15%;
    max-height: 60%;
    top: 0;
    left: 60%;
}
#gold{
    max-width:10%;
    max-height: 80%;
    top: 0;
    left: 90%;    
}
#cons{
    max-width:20%;
    max-height: 25%;
    top: 35%;
    left: 75%;
}
#cloud{
    max-width:25%;
    max-height: 30%;
    top: 60%;
    left: 75%;
}
