body{
	background: #000 url(img/back.jpg) center center fixed no-repeat;
	-moz-background-size: cover;
	background-size: cover;
}
.container.chi{
    margin: 20;
}
.draggable{
    margin: 4px;
    z-index: 1;
}
.droppable{
    display:	inline-block;
    padding: 20px;
    margin: 20px;
    font-family:"標楷體", "新細明體";
    height: 40%;
    
}
.droppable img{
    max-height: 60%;
}
.word div{

    display:inline-block;
    cursor:pointer;
}
.img{display:inline;}
