body{
}
div.description, div.animation{
    display:none;
}
div.card{
    margin: 50px;

}
div.card button{
    padding: 20px;
    font-size: 40px;
}
span.countdown{
    position: fixed;
    right:10px;
    top: 50px;
    display: none;
    color: red;
    font-size: 100px;
}
