.draggable {
    z-index: 1;
}

.drag_img {
    cursor: pointer;
    width: 10vw;
    height: 10vw;
    margin-bottom:1.5vh;
}

.droppable{
    height: auto;
    display: inline-block;
}
  
div.fight {
    position: relative;
}

div.fight img {
    position: absolute;
    width: 43vw;
    height: auto;
}

#startimg{
	background: url("img/startpage.png") no-repeat ;
	background-size: 75vw 85vh;
}

#sta_btn_img{
	width: 13vw;
	height: 13vw;
}

#sta_btn{
	width: 13vw;
	height: 13vw;
	margin-top: 59vh;
	margin-left: 28.5vw;
}

.back{
	width:45vw;
}
.again{
    font-size:3em;
    border-radius:1vw;
    border:5px solid #337fed;
    padding:1vh 0.5vw;
    background-color:#3d94f6;
    color:#ffffff;
    display:none;
    top: 80vh;
    left: 40vw;
    position: fixed;
}