body {
}

.draggable {
    z-index: 1;
}

.drag_img {
    max-width: 100%;
    cursor: pointer;
    height: auto;
}

.droppable {
    max-width: 100%;
    height: auto;
    display: inline-block;
}

div.fight {
    position: relative;
}

div.fight img {
    position: absolute;
}
