.left-div {
	width:50%;
	float:left;
	text-align:center;
}
.right-div {
	width:50%;
	float:left;
	text-align:center;
}
.padding {
	padding:10px;
}
.feature {
	width:75%; 
	background-color:#3399FF;
	float:left;
	text-align:center;
}
.word {
	width:75%; 
	background-color:#33CC33;
	float:left;
	text-align:center;
}
.connect {
	width:13%; 
	font-size:10px; 
	margin: 3px 5%; 
	background-color:black; 
	color:black;
	float:left;
	text-align:center;
}
.feature-container {
	width:25%;
	margin: 0 30% 0 45%;
}
.word-container {
	width:35%;
	margin: 0 40% 0 25%;
}
.serif {
	font-family:"新細明體", PMingLiu;
}
.kai {
	font-family:dfkai-sb, stkaiti, 標楷體, 華文楷體;
}
