.inline {
	display:inline;
}

.line-wrapper {
	margin: 5px;
}

table,tr,th,td {
	font-family:dfkai-sb, stkaiti, 標楷體, 華文楷體;
	border:1px solid black;
}

td {
	padding:10px 5px;
}

.top {
	vertical-align:text-top; 
}

.middle {
	vertical-align:text-middle; 
	text-align:center;
}

.droppable {
	background-color:#CC66FF;
	color:#CC66FF;
}

.draggable {
	line-height: 1.0;
	font-family:dfkai-sb, stkaiti, 標楷體, 華文楷體;
	margin: 0px 5px;
	background-color:#CC66FF;
}

.ui-state-active {
	background-color:purple;
	color:purple;
}

.yellow {
	background-color:#FFFF66;
}

.green {
	background-color:#66FF99;
}

.red {
	background-color:#FF3399;
}

#cross {
	top:65%;
	left:50%;
	width:25%;
	height:25%;
	position:fixed;
	margin-left:-12.5%;
	margin-top:-12.5%;
	display:none;
}

img {
	height:100%;
	width:100%;
}
