body{
    text-align:center;
}

img.draggable{
    height: 140px;
    width: 125px;
    z-index: 1;
    margin-top:30px;
    cursor: pointer;
}
div.droppable{
    position:relative;
    display:inline-block;
    background-size: 100%;
    width: 18%;
}
div.holder{
    position: absolute;
    height: 100%;
}
div.droppable img.frame{
    position: absolute;
    left:0; top:0;
    width: 100%;
    z-index: -1;
}
div.droppable div.holder img.draggable{
    position: absolute;
    width: 60%;
    height: 65%;
    cursor: pointer;
    margin-top: 20%;
    
    z-index:2;
}
div.item div{
    display: inline-block;
    position: relative;
    width: 19%;
}
div.q2{
    position: absolute;
    display: none;
    background: #fff;
    padding: 10px;
}

span.order{
    position:absolute;
    text-align:center;
    padding-top:50px;
}
button{
    margin:10px;
}
